@using AllanNovalta.GradePortal.Web.Areas.Manage.Models;
@model AllanNovalta.GradePortal.Web.Areas.Manage.ViewModels.GradeSheets.IndexViewModel;



@{
    ViewData["Title"] = "Grades";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <h2>Grades</h2>
    <p>Edit the grades here!</p>
    <a href="~/manage/grades/Create" title="Add Grade"><button type="button" class="btn">Add Grades</i></button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Subject Code</th>
                <th>Subject Title</th>
                <th>Academic Year</th>
                <th>Semester</th>
                <th>Grade</th>
                <th>Grade Point</th>
                <th>Remark</th>
                <th>Comment</th>
            </tr>
        </thead>

        <tbody>
            @{
                if (Model.Grades.Items != null)
                {
                    foreach (StudentGrade grade in Model.Grades.Items)
                    {
                        <tr>
                            <td>@grade.FullName</td>
                            <td>@grade.SubjectCode</td>
                            <td>@grade.SubjectTitle</td>
                            <td>@grade.AcademicYear</td>
                            <td>@grade.Semester</td>
                            <td>@grade.GradePercent</td>
                            <td>@grade.GradePoint</td>
                            <td>@grade.IsFailed</td>
                            <td>@grade.Comment</td>
                        </tr>
                    }
                }

            }

        </tbody>

        @*<tfoot>
                <tr>
                    <td colspan="9">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
            </tfoot>*@

    </table>




</div>

